# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\anton\OneDrive - National University of Kyiv Mohyla Аcademy\Учеба\2 курс\2 семестр\Блокчейн\KMAChain\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
